<!DOCTYPE html>

<html>

<head>
    <title>Admin Dashboard</title>
    {{!-- <link rel="stylesheet" href="./css/styles.css"> --}}
    <link rel="stylesheet" href="./css/bootstrap.css">
    <link rel="stylesheet" href="./css/admin.css">
    <link rel="stylesheet" href="./css/tabulator.css">
</head>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand text-primary nav-link" data-target="me" href="#">{{ this.name }}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" data-target="home" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-target="surveys" href="#">Surveys</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-target="questions" href="#">Questions</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-target="options" href="#">Options</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-target="answers" href="#">Answers</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-target="users" href="#">Users</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <a href='/start'><img src='./img/logo.png'></a>
        </form>
    </div>
</nav>

<body>
    <div class="page" id="me">
        <h1>Hello, {{this.name}}</h1>
        <button class="btn-danger" id="log-out-from-all">LOG OUT FROM ALL DEVICES</button>
        <br>
        <span id="log-out-message"></span>
    </div>

    <div class="page active" id="home">
        <h1>Dashboard</h1>
    </div>

    <div class="page" id="surveys">
        <h1>Surveys</h1>
        <div class="container">
            <div>
                <button class="btn-dark" id="add-new-survey">ADD NEW SURVEY</button>
                <div id="new-survey"></div>
            </div>
            <div>
                <div id="survey-table"></div>
            </div>
        </div>
    </div>

    <div class="page" id="questions">
        <h1>Questions</h1>
        <div class="container">
            <div>
                <button class="btn-dark" id="add-new-question">ADD NEW QUESTION</button>
                <div id="new-question"></div>
            </div>
            <div>
                <div id="question-table"></div>
            </div>
        </div>
    </div>

    <div class="page" id="options">
        <h1>Options</h1>
    </div>

    <div class="page" id="answers">
        <h1>Answers</h1>
    </div>

    <div class="page" id="users">
        <h1>Users</h1>
    </div>

    <script src="./js/tabulator.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script>
        const title = '{{ title }}'
        const surveys = '{{{ toJSON surveys }}}'
    </script>
    <script src="./js/admin.js"></script>
</body>

</html>