<form id="new-question-form" action="question" method="POST" enctype="application/json">
  <div class="form-group col-3">
    <label for="survey-title">Question Body</label>
    <input type="input" class="form-control" id="question-body" placeholder="Enter question" name="body">
  </div>
  <div class="form-group col-3">
    <label for="questionType">Question Type</label>
    <select class="form-control" id="questionType">
    </select>
  </div>
  <div class="form-group col-3">
    <label for="questionSurveys">Question Surveys</label>
    <select class="form-control" id="questionSurveys" multiple="multiple">
    </select>
  </div>

  <div class="text-center">
    <button type="submit" class="btn btn-success" id="submit-new-question">Submit</button>
    <button type="button" class="btn btn-dark" onclick="hideNewQuestionForm()">Close</button>
  </div>
</form>