<form id="new-survey-form" action="survey" method="POST" enctype="application/json">
  <div class="form-group col-3">
    <label for="survey-title">Survey Title</label>
    <input type="input" class="form-control" id="survey-title"  placeholder="Enter title" name="title">
  </div>
  <div class="form-group col-3">
  <div class="custom-control custom-checkbox">
    <input type="checkbox" class="custom-control-input" id="customCheck" name="isActive" value="true">
    <label class="custom-control-label" for="customCheck">Is this survey going to be active?</label>
  </div>
  </div>
  <div class="text-center">
      <button type="submit" class="btn btn-success" id="submit-new-survey">Submit</button>
      <button type="button" class="btn btn-dark" onclick="hideNewSurveyForm()" >Close</button>
  </div>
</form>